@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #0e0e0e;
  --color-surface: #0e0e0e;
  --color-surface-container-low: #131313;
  --color-surface-container: #1a1919;
  --color-surface-container-high: #201f1f;
  --color-surface-container-highest: #262626;
  --color-surface-variant: #262626;
  --color-primary: #f3ffca;
  --color-on-primary: #516700;
  --color-secondary: #72eff5;
  --color-on-secondary: #00585b;
  --color-tertiary: #ff91f8;
  --color-on-tertiary: #650068;
  --color-error: #ff716c;
  --color-on-error: #490006;
  --color-outline: #777575;
  --color-outline-variant: #494847;
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #adaaaa;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Inter", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-background);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-surface-variant);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-outline-variant);
}

.glass-effect {
  backdrop-filter: blur(24px);
  background: rgba(38, 38, 38, 0.6);
}
